body{
	background-color:#98f442 ;
	margin: 0;
	font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}


.main {

    position: fixed;
    border: 1px solid blue;
    background-color: rgba(42, 255, 35, 0.5);
    width: 80%;
    height: 100%;
    top: 20%;
    padding-left: 10px;
    left: 10%;
    right: 10%;

}
/*
.header {
    position: fixed;
    border: 1px solid blue;
    background-color: rgba(255,200,200,0.5);
    width: 100%;
    height: 20%;
    top: 0;
    left: 10%;
    right: 0;

}
*/
.panel{
    height: 100%;
	width: 10%;
	position: fixed;
	z-index: 1;
	top: 20%;
    right: 0;
}

.sidenav {
	height: 100%;
	width: 10%;
	position: fixed;
	z-index: 1;
	top: 0;
                    left: 0;
	background-color: #111;
	overflow-x: hidden;
                    padding-top: 20px;
                }

.sidenav a {
                    padding: 6px 8px 6px 16px;
                    text-decoration: none;
                    font-size: 20px;
                    color: #818181;
                    display: block;
                }

.sidenav a:hover {
                    color: #f1f1f1;
                }



@media screen and (max-height: 450px) {
                 .sidenav {padding-top: 15px;}
                 .sidenav a {font-size: 18px;}


                 }


#slideshow {
  overflow: hidden;
    position: fixed;
    height: 20%;
     width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
